{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{% block title %}{% endblock %} - SAYN</title>

  <!-- CSS  -->
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <header class="dashboard">
      {% include "progress/header.html" with title=title %}
    </header>
    <main class="dashboard">
      <div class="container">
        <div class="row">
          <div class="col s12 m3">
            {% block filter %}{% endblock %}
          </div>
          <div class="col s12 m9">
            {% block main %}{% endblock %}
          </div>
        </div>
          {% block action-btn %}
          {% endblock %}
        </div>
    </main>
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "js/materialize.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
</body>
</html>