{% extends "progress/dashboard.html" %}
{% load app_filter %}

{% block title %}{{ title }}{% endblock %}

{% block main %}

{% if form.errors %}
<div id="form-error">
  <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
  <ul>
  {% for field in form %}
  {% if field.errors %}
  <li>{{ field.label }} - {{ field.errors|striptags }}</li>
  {% endif %}
  {% endfor %}
  </ul>
</div>
{% endif %}

<form method="POST" enctype="multipart/form-data" action="/dashboard/user/{{ id }}/edit" class="col s12">
  <div class="row">
    {% csrf_token %}
    <div class="input-field col s6">
      {{ form.first_name }}
      <label for="{{ form.first_name.id_for_label }}">{{form.first_name.label}}</label>
    </div>
    <div class="input-field col s6">
      {{ form.last_name }}
      <label for="{{ form.last_name.id_for_label }}">{{form.last_name.label}}</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      {{ form.date_of_birth }}
      <label for="{{ form.date_of_birth.id_for_label }}">{{form.date_of_birth.label}}</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      {{ form.email }}
      <label for="{{ form.email.id_for_label }}">{{form.email.label}}</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      {{ form.society }}
      <label for="{{ form.society.id_for_label }}">{{form.society.label}}</label>
    </div>
    <div class="input-field col s12">
      {{ form.position }}
      <label for="{{ form.position.id_for_label }}">{{form.position.label}}</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      {{ form.role }}
      <label for="{{ form.role.id_for_label }}">{{form.role.label}}</label>
    </div>
    <div class="input-field col s6">
      {{form.gender }}
      <label for="{{ form.gender.id_for_label }}">{{form.gender.label}}</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      {{ form.contact_number }}
      <label for="{{ form.contact_number.id_for_label }}">{{form.contact_number.label}}</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      {{ form.nominated_on }}
      <label for="{{ form.nominated_on.id_for_label }}">{{form.nominated_on.label}}</label>
    </div>
    <div class="input-field col s6">
      {{ form.nominated_through }}
      <label for="{{ form.nominated_through.id_for_label }}">{{form.nominated_through.label}}</label>
    </div>
  </div>
  <div class="row">
    {% if form.avatar.value %}
    <img id="avatar" class="circle" src="{{ form.avatar.value.url }}">
    {% endif %}
    <div class="file-field input-field col s12">
      <input class="file-path validate" placeholder="{{ form.avatar.value }}" type="text" />
      <div class="btn">
        <span>Image</span>
        {{ form.avatar }}
      </div>
    </div>
  </div>
  {% if user|has_group:"SC" or user|has_group:"Administrator" %}
  <div class="row">
    <div class="input-field col s12">
      {{ form.group }}
      <label for="{{ form.group.id_for_label }}">{{ form.group.label }}</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      {{ form.is_active }}
      <label for="{{ form.is_active.id_for_label }}">{{ form.is_active.label }}</label>
    </div>
  </div>
  {% endif %}
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="mdi-content-send right"></i>
  </button>
</form>
{% endblock %}