<nav class="top-nav red">
  <div class="container">
    <div class="nav-wrapper">
      <a class="page-title">{{ title }}</a>
      <ul class="header-list right">
          <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full"><i class="mdi-navigation-menu"></i></a>
</div>
<ul id="nav-mobile" class="side-nav fixed">
  <li class="bold"><a href="/dashboard/user" class="waves-effect waves-teal">Users</a></li>
  <li class="bold"><a href="/dashboard/society" class="waves-effect waves-teal">Societies</a></li>
  <li class="bold"><a href="/dashboard/task" class="waves-effect waves-teal">Tasks</a></li>
</ul>
