{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>SAYN</title>

  <!-- CSS  -->
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="red" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">SAYN</a>
      <ul class="right">
        {% if user.is_authenticated %}
        <li><a href="/dashboard">Dashboard</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"><img src="{% static "background1.png" %}" alt="Unsplashed background img 2"></div>
  </div>
  <div class="container">
    <div class="section">
      <!--   About Section   -->
      <div class="row">
        <div class="col s12 m9">
          <h3 class="header center-align">South Asia Youth Network</h3>
          <p class="light">
          The South Asia Youth Network also called as SAYN, a sub-regional youth network of the Asia Pacific Youth Network (APYN). It provides a platform for youth volunteers of the National Societies of south Asia to interact, meet and remain in communication for mutual understanding, service to humanity, capacity building, sharing best practices, fostering youth action, promote youth in decision making process by considering doing more, doing better, reaching further.
          This regional network will support peer-to-peer approach, involve youth in service delivery and strengthen principles &amp; values amongst the National Societies and its youth volunteers. The Network is based around the support provided by the South Asian National Societies, International Federation of Red Cross and Red Crescent Societies and the Asia Pacific Youth Network, while in accordance with the Solferino Youth Declaration 2009, Ajloun Commitment 2010 and the International Federation of Red Cross and Red Crescent Strategy 2020.
          </p>
        </div>
        <div class="col s12 m3">
          <h3 class="">News</h3>
          <ul>
          {% for item in news %}
            <li><a href="#modal{{ item.id }}" class="modal-trigger red-text">{{ item }}</a></li>
          {% endfor %}
          </ul>

          {% for item in news %}
          <div id="modal{{ item.id }}" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>{{ item.title }}</h4>
              <p>{{ item.content }}</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer red">
    <div class="footer-copyright">
      <div class="container">
        Some footer text here
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
  <script src="{% static "js/materialize.js" %}"></script>
  <script src="{% static "js/init.js" %}"></script>

  </body>
</html>
