{% extends "progress/dashboard.html" %}
{% load app_filter %}

{% block title %}{{ title }}{% endblock %}
{% block main %}
<ul class="collapsible popout" data-collapsible="accordion">
  {% for society in societies %}
  <li>
    <div class="collapsible-header">
      <p><span class="list-name red-text">{{ society.name }}</span>
        {% if user|has_group:"SC" or user|has_group:"Administrator" or user.society == society %}
        <span class="right">
            <a class="red-text" href="/dashboard/society/{{ society.id }}/edit"><i class="tooltipped mdi-content-create tiny" data-position="top" data-delay="50" data-tooltip="Edit National Society" ></i></a>
            <a class="red-text" href="/dashboard/user?society={{ society.id }}"><i class="tooltipped mdi-action-account-child tiny" data-position="top" data-delay="50" data-tooltip="List Users of this society" ></i></a></span>
        {% endif %}
        <br>
        {% for user in society.customuser_set.all %}<span class="list-property red-text text-lighten-1">{{ user.get_full_name }}</span>{% endfor %}
      </p>
    </div>
    <div class="collapsible-body list-content">
      <p>
        <span class="red-text text-darken-1">Contact Person in National Society</span><br>
        <span class="red-text text-lighten-2">
          {{ society.get_contact_name }}<br>
          {{ society.contact_email }}
        </span>
      </p>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block action-btn %}
{% if user|has_group:"SC" or user|has_group:"Administrator" %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a href="/dashboard/society/new" class="btn-floating btn-large waves-effect waves-light red "><i class="tooltipped mdi-content-add" data-position="left" data-delay="50" data-tooltip="Add and Print option" ></i></a>
  <ul>
    <li><a class="btn-floating blue modal-trigger" href="#print"><i class="tooltipped material-icons" data-position="top" data-delay="50" data-tooltip="Print">print</i></a></li>
  </ul>
</div>
{% else %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a href="#print" class="btn-floating btn-large waves-effect waves-light blue modal-trigger"><i class="material-icons">print</i></a>
</div>
{% endif %}

<div id="print" class="modal">
  <div class="modal-content">
    <p><strong>Please select the columns you want to print</strong></p>
    <form action="/dashboard/society/print" method="POST">
      {% csrf_token %}
      {% for field in fields %}
      <p>
        <input type="checkbox" name="{{ field }}" id="{{ field }}" />
        <label for="{{ field }}">{{ field }}</label>
      </p>
      {% endfor %}
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
