{% extends "progress/dashboard.html" %}
{% load app_filter %}

{% block title %}{{ title }}{% endblock %}
{% block main %}
<ul class="collapsible popout" data-collapsible="accordion">
  {% for task in filter %}
  <li>
    <div class="collapsible-header">
      <p><span class="list-name red-text">{{ task.name }}</span>
        {% if task.user == user or user|has_group:"SC" or user|has_group:"Administrator" %}
        <span class="right">
            <a class="red-text" href="/dashboard/task/{{ task.id }}/edit"><i class="mdi-content-create tiny"></i></a>
        </span>
        {% endif %}
        <br>
        <span class="list-property red-text text-lighten-1">Assigned On: {{ task.get_assigned_on }}</span>
        <span class="list-property red-text text-lighten-1">Status: {{ task.get_status_display }}</span>
        {% if task.status == 2 %}
        <span class="list-property red-text text-lighten-1">Completed On: {{ task.completed_on }}</span>
        {% endif %}
      </p>
    </div>
    <div class="collapsible-body">
      <p>{{ task.description }}</p>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block filter %}
  <form action="" method="GET">
    {{ filter.form.as_p }}
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="mdi-content-send right"></i>
    </button>
  </form>
{% endblock %}

{% block action-btn %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a href="/dashboard/task/new" class="btn-floating btn-large waves-effect waves-light red "><i class="mdi-content-add"></i></a>
  <ul>
    <li><a class="btn-floating blue modal-trigger" href="#print"><i class="material-icons">print</i></a></li>
  </ul>
</div>

<div id="print" class="modal">
  <div class="modal-content">
    <p><strong>Please select the columns you want to print</strong></p>
    <form action="/dashboard/task/print?{{ request.GET.urlencode }}" method="POST">
      {% csrf_token %}
      {% for field in fields %}
      <p>
        <input type="checkbox" name="{{ field }}" id="{{ field }}" />
        <label for="{{ field }}">{{ field }}</label>
      </p>
      {% endfor %}
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
    </form>
  </div>
</div>
{% endblock %}