{% extends "progress/dashboard.html" %}
{% load app_filter %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}
{% block main %}
<ul class="collapsible popout" data-collapsible="accordion">
  {% for user in filter %}
  <li>
    <div class="collapsible-header">
      <p>
      {% if user.avatar %}
      <img src="{{ user.avatar.url }}" class="circle">
      {% else %}
      <img src="{% static "default_avatar.jpg" %}" class="circle">
      {% endif %}
      <span class="list-name red-text">{{ user.get_full_name }}</span>
        {% if curr_user|has_group:"SC" or curr_user|has_group:"Administrator" or user == curr_user %}
        <span class="right">
            <a class="red-text" href="/dashboard/user/{{ user.id }}/edit"><i class="mdi-content-create tiny"></i></a>
            <a class="red-text" href="/dashboard/task?user={{ user.id }}"><i class="mdi-editor-format-list-numbered tiny"></i></a></span>
        {% endif %}
        <br>
        <span class="list-property red-text text-lighten-1">{{ user.society }}</span><span class="list-property red-text text-lighten-1">{{ user.role|title }}</span><span class="list-property red-text text-lighten-1">{{ user.completed_tasks }} tasks completed</span>
      </p>
    </div>
    <div class="collapsible-body">
      <p>Remaining Details Here</p>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block filter %}
<form method="GET" action="">
  {{ filter.form.as_p }}
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="mdi-content-send right"></i>
  </button>
</form>
{% endblock %}

{% block action-btn %}
{% if user|has_group:"SC" or user|has_group:"Administrator" %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a href="/dashboard/user/new" class="btn-floating btn-large waves-effect waves-light red "><i class="mdi-content-add"></i></a>
  <ul>
    <li><a class="btn-floating blue modal-trigger" href="#print"><i class="material-icons">print</i></a></li>
  </ul>
</div>
{% else %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a href="#print" class="btn-floating btn-large waves-effect waves-light blue modal-trigger"><i class="material-icons">print</i></a>
</div>
{% endif %}

<div id="print" class="modal">
  <div class="modal-content">
    <p><strong>Please select the columns you want to print</strong></p>
    <form action="/dashboard/user/print?{{ request.GET.urlencode }}" method="POST">
      {% csrf_token %}
      {% for field in user.fields %}
      <p>
        <input type="checkbox" name="{{ field }}" id="{{ field }}" />
        <label for="{{ field }}">{{ field }}</label>
      </p>
      {% endfor %}
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
    </form>
  </div>
</div>
{% endblock %}